/*common style*/
.center {
	margin: 0px auto;
}
.left {
	float: left;
}
.right {
	float: right;
}
.common_width {
	width: 300px;
}
button {
	width: 60px;
	height: 30px;
}
/*test style*/
div.top {
	height: 60px;
	background-color: red;
}
div.middle {
	height: 327px;
	background-color: yellow;
}
div.bottom {
	/* height: 100px; */
	background-color: green;
	word-wrap:break-word; 
	word-break:break-all; 
	overflow: hidden;
}

div.picture {
	height: 300px;
}

img.pronounce_skills_pic {
	height: 300px;
}

#pronounce_audio {
  padding: 0px;
  margin: 0px;
  height: 27px;
}

h1.title {
  text-align: center;
  line-height: 56px;
}